<div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="loginBody p-3">
    <i style='font-size:24px' class='fas fa-user judge text-info' (click)="goToJudge()"></i>
    <div class="login-header">
      <h2 class="text-center mt-5 text-info"><i style='font-size:24px' class='fas'>&#xf51a;</i> Recorder</h2>
    </div>
    <div class="login-label text-center m-3 mb-4">
      <h5>------ Log In -------</h5>
    </div>
    <div class="login-form text-center mx-3">
      <label for="user-name"></label>
      <input type="text" [(ngModel)]="loginName" class="form-control form-control-lg input-lg" id="user-name" placeholder="Username" required>
      <label for="user-password"></label>
      <input type="password" [(ngModel)]="loginPass" class="form-control form-control-lg input-lg" id="user-password" placeholder="Password" required>
    </div>
    <div class="='login-button px-3 m-5">
      <button type="submit" class="btn btn-info btn-lg btn-block" (click)="login()"><i class="fas fa-unlock" style="size: 5px; color: white"></i> Login</button>
    </div>
  </div>
</div>
