<div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="loginBody p-5">
    <form [formGroup]="form" (ngSubmit)="send()">
      <div class="login-header">
        <h2 class="text-center mt-2 text-info"><i class="fas fa-user"></i> Judge</h2>
      </div>
      <div class="login-label text-center m-1">
        <h5>------ Reset -------</h5>
      </div>
      <div class="login-form text-left mx-3 my-5">
        <h4 class="text-center">Forgot your password?</h4>
        <hr>
        <label for="email">Your email address:</label>
        <input type="email" class="form-control form-control-lg input-lg" id="email" placeholder="Email" formControlName="email">
      </div>

      <div *ngIf="status == 'success'" class="mt-1">
        <h6 class="text-success text-center">The password is set successfully.</h6>
      </div>
      <div *ngIf="status == 'failed'" class="mt-1">
        <h6 class="text-danger text-center">This resetting is failed.</h6>
      </div>

      <div class="my-4">
        <button class="btn btn-primary" [disabled]="form.invalid">Send</button>
      </div>
      <div class="='px-3 mt-2 mx-3 text-right">
        <h5><a [routerLink]="['../../judge/login']">Back</a></h5>
      </div>
    </form>
  </div>
</div>
