<div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="loginBody p-3">
    <form [formGroup]="form" (ngSubmit)="reset()">
      <div class="login-header">
        <h2 class="text-center mt-5 text-info"><i class="fas fa-user"></i> Judge</h2>
      </div>
      <div class="login-label text-center m-3 mb-4">
        <h5>------ Password Reset -------</h5>
      </div>
      <div class="login-form text-center mx-3">
        <label for="password"></label>
        <input type="password" class="form-control form-control-lg input-lg" id="password" placeholder="Password" formControlName="password">
        <label for="passwordConfirm"></label>
        <input type="password" class="form-control form-control-lg input-lg" id="passwordConfirm" placeholder="Confirm password" formControlName="confirmPassword">
      </div>

      <div *ngIf="status == 'success'" class="mt-1">
        <h6 class="text-success text-center">The password is set successfully.</h6>
      </div>
      <div *ngIf="status == 'failed'" class="mt-1">
        <h6 class="text-danger text-center">This resetting is failed.</h6>
      </div>

      <div class="='login-button px-3 py-5 mx-5">
        <button type="submit" class="btn btn-info btn-lg btn-block" (click)="reset()" [disabled]="form.invalid">Reset</button>
      </div>

    </form>
  </div>
</div>
