<table class="table table-bordered table-striped text-center">
  <tr>
    <th class="text-center">Judge Number</th>
    <th class="text-center">Name</th>
  </tr>
  <tr *ngFor="let judge of judges">
    <td>{{ judge.judgeNumber }}</td>
    <td>
      <ng-select [items]="users" bindLabel="name" [(ngModel)]="assignedUsers[judge.id]"></ng-select>
<!--      (ngModelChange)="changeSelection()"-->
    </td>
  </tr>
</table>
<div class="text-center">
  <div *ngIf="status=='success'">
    <h5>Judges are {{statusString}} successfully.</h5>
  </div>
  <div *ngIf="status=='failed'">
    <h5>This action is failed.</h5>
  </div>
</div>
<div class="text-center d-flex justify-content-around">
  <button class="btn btn-info btn-lg btn-block m-5" (click)="clear()">Clear</button>
  <button class="btn btn-info btn-lg btn-block m-5" (click)="save()">Save</button>
</div>
