<div class="text-center mt-3">
  <h5>Current Dive Code:
    <input type=text [(ngModel)]="diveCode">
    <button class="btn btn-info mx-3" (click)="saveDiveCode()">Save</button>
  </h5>
  <div *ngIf="isLoading" class="mt-1">
    <h6 class="text-success text-center">Saving...</h6>
  </div>
</div>
<table class="table table-bordered table-responsive-md table-striped text-center">
  <tr>
    <th class="text-center">J1</th>
    <th class="text-center">J2</th>
    <th class="text-center">J3</th>
    <th class="text-center">J4</th>
    <th class="text-center">J5</th>
    <th class="text-center">J6</th>
    <th class="text-center">J7</th>
    <th class="text-center">Sy1</th>
    <th class="text-center">Sy2</th>
    <th class="text-center">Sy3</th>
    <th class="text-center">Sy4</th>
    <th class="text-center">Sy5</th>
  </tr>
  <tr>
    <td *ngFor="let score of scores">
      {{score}}
    </td>
  </tr>
</table>
<table class="table table-bordered table-responsive-md table-striped text-center">
  <thead>
    <tr>
      <td colspan="3">Messaging System</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><button class="btn btn-info" (click)="send()">Send message to judge</button></td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="msgFromRecorder">
      </td>
      <td>
        <select class="form-control" id="sel1" [(ngModel)]="selectedJudgeId">
          <option *ngFor="let judge of allPlusJudges" [value]="judge.id">{{judge.judgeNumber}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="3">Message from the judges</td>
    </tr>
    <tr *ngFor="let judge of judges">
      <td>{{judge.judgeNumber}}</td>
      <td colspan="2">{{judge.msgToRecorder}}</td>
    </tr>
  </tbody>
</table>
